<!--
    本棚の書籍リスト
  -->

<% shelfname = params['shelf'] %>

<%= render 'header' %>

<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h">
      <%= image_tag "/images/fms.gif", :class => "fms" %>
    </div>
    <!-- Rails4以降でfindメソッドが使えないらしい
	 Shelf.find(:first, :conditions => ["name = ?", shelfname])
	 これを where() に変えるらしい
      -->
    <% shelf = Shelf.where(name: shelfname)[0] %>
    <% entrylist = shelf.entries %>
    <% entrylist.each { |entry| %>
      <% @entry = entry %>
      <div style='float:left;margin:0px;height:138;width:96'>
        <div style='padding:0px;margin:0pt;height:8'><%= image_tag "/images/fms.gif", :class => "fms" %></div>
        <%= @entry.book.title %>
      </div>
    <% } %>

    <!-- %= render :partial => 'imagelist' %> -->
  </div>
</div>
<div id="shelf_shade"></div>

<%= render 'footer' %>
