<!--
    本棚の書籍リスト
    from app/views/shelf/show.rhtml
  -->

<%= render 'header', shelf: shelf, entries: entries  %>

<div id='book_volumes'>
  (<%= shelf.countbook_comment %>/<%= shelf.countbook %>)冊
</div>

<div id="shelf_v">
  <div id="shelf">
    <div class="shelf_h">
      <%= image_tag "/images/fms.gif", :class => "fms" %>
    </div>
    <% if shelf.listtype == 'image' %>
      <%= render 'imagelist', entries: entries %>
    <% elsif shelf.listtype == 'text' %>
      <%= render 'textlist', entries: entries %>
    <% else %>
      <%= render 'detaillist', entries: entries %>
    <% end %>
  </div>
</div>
<div id="shelf_shade"></div>

<%= render 'footer', entries: entries %>
